{% extends 'default.html' %}
{% load customfilters %}

{% block title %}
{{ view_title }}
{% endblock title %}


{% block content %}
<h2>{{ view_title }}</h2>
<div class="filters">
    <p>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
    Показать/скрыть фильтры.
  </button>
</p>
<div class="collapse" id="collapseFilters">
  <div class="card card-body">
      <form action="" method="get">
          {{ filterset.form.as_p }}
          <input type="submit" value="Фильтруем-с!">
      </form>
      <hr>
  </div>
</div>
{% for post in posts %}
    <article class="post">
        <h3>{{ post.title }}</h3>
        <div class="post-badges">
            <span class="text-muted">автор:</span>
            <span class="badge rounded-pill bg-secondary">
                <a href="/?author={{post.author.pk}}" class="text-white">{{ post.author }}</a>
            </span>
            <span class="badge rounded-pill bg-secondary">{{ post.publication_date|date:'d M Y'|default:"из недалекого будущего" }}</span>
            <span class="text-muted">рубрика:</span>
            <span class="badge rounded-pill bg-info">
                <a href="/?category={{post.category.pk}}" class="text-white">{{ post.category.title }}</a>
            </span>
            {% if not post.is_article %}
                <span class="badge rounded-pill bg-info">
                    <a href="/news" class="text-white">новости</a>
                </span>
            {% endif %}

        </div>
        <div class="post_content">
            {{ post.content|truncatewords_html:30| no_naughty_words|safe }}
            <a class="badge pill bg-warning align-center" href="/posts/{{ post.pk }}">читать дальше</a>
        </div>
        <div class="post-tags">
            <span class="text-muted">теги:</span>
            {% for tag in post.tags.all %}
                <span class="badge rounded-pill bg-secondary">
                    <a href="/?tags={{tag.pk}}" class="text-white">{{ tag.title }}</a></span>
            {% endfor %}
        </div>
        <div class="post-actions">
            <span class="text-muted">администрирование:</span>
            
            <span class="badge rounded-pill bg-info">
                <a href="/posts/edit/{{post.pk}}" class="text-white">редактировать</a>
            </span>
            <span class="badge rounded-pill bg-danger">
                <a href="/posts/delete/{{post.pk}}" class="text-white">УДОЛИТЬ!</a>
            </span>
            
        </div>
    </article>
    <hr style="margin-top:10px">
{% endfor %}

{% if page_obj.has_previous or page_obj.has_next %}

<div class="page_scroller">
     <span class="text-muted">страницы:</span>
   {% if page_obj.has_previous %}

<span class="badge rounded-pill bg-info"><a href="?{% url_replace page=1 %}">1</a></span>
       {% if page_obj.previous_page_number != 1 %}
           ...
<span class="badge rounded-pill bg-info"><a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a></span>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
<span class="badge rounded-pill bg-success">{{ page_obj.number }}</span>

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
<span class="badge rounded-pill bg-info"><a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a></span>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
<span class="badge rounded-pill bg-info"><a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a></span>
       {% endif %}
   {% endif %}
</div>
{% endif %}
{% endblock content %}